/* Импортируем все стили */

@import "./styles/base.css";

@import "./styles/service-list.css";
@import "./styles/service-detail.css";

@import "./styles/pricing.css";

@import "./styles/responsive.css";
