.about {
  height: 100pv;
}

.section__about {
  display: flex;
  margin-top: 50px;
}
.about__left {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-right: 50px;
}
.about__left__title {
  font-size: 80px;
}
.section__missia {
  margin-top: 50px;
  display: flex;
}
.missia__left {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin-right: 50px;
}
.missia__left__title {
  font-size: 80px;
  width: 500px;
}
.missia__left__text {
  width: 600px;
  font-size: 32px;
  color: black;
}
.missia__right {
  position: relative;
}
.missia__right-img {
  margin-top: 40px;
  position: absolute;
  width: 600px;
  height: 580px;
  background-color: #0385ce;
  border-radius: 20px;
  transform: rotate(15deg);
}
.missia__right img {
  margin-top: 40px;
  position: absolute;
  width: 577px;
  height: 577px;
}
/*наши ценности*/
.cennosti__top {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
}
.cennosti__top__title {
  font-size: 64px;
}
.cennosti__top__text {
  font-size: 27px;
  color: black;
  max-width: 1200px;
}
.cennosti__bot {
  width: 100%;
  margin-top: 80px;
}

.cennosti__columns {
  display: flex;
  gap: 40px; /* Расстояние между колонками */
  justify-content: space-between;
}

.cennosti__column {
  display: flex;
  flex-direction: column;
  gap: 50px; /* Расстояние между элементами в колонке */
  flex: 1;
}

.cennosti__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 500px;
}

.cennosti__left {
  flex-shrink: 0;
}

.cennosti__left img {
  width: 100px; /* Настройте по необходимости */
  height: 100px;
}

.cennosti__right h4 {
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.cennosti__right p {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
}

/*наша команда*/

.comanda {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 40px;
}

.comanda h3 {
  font-size: 64px;
}
.comanda p {
  font-size: 32px;
  max-width: 1200px;
  color: #000000;
}

/*наши преимущества*/
.plusi {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 40px;
}

.plusi__title {
  font-size: 64px;
}

.plusi__text {
  font-size: 27px;
  color: black;
  max-width: 1200px;
}

.plusi__container {
  width: 100%;
  margin-top: 40px;
}

.plusi__columns {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.plusi__column {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex: 1;
}

.plusi__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 500px;
}

.plusi__icon {
  flex-shrink: 0;
}

.plusi__icon img {
  width: 100px;
  height: 100px;
}

.plusi__content h4 {
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: bold;
}

.plusi__content p {
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
}
.doverie {
  margin-top: 80px;
}
.doverie h3 {
  font-size: 64px;
}
.doverie__container {
  display: flex;
  margin-top: 80px;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}

.doverie__left {
  flex-shrink: 0;
}

.doverie__left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.doverie__right {
  flex: 1;
}

.doverie__right p {
  margin: 0;
  font-size: 32px;
  line-height: 1.6;
  color: black;
  text-align: left;
}
@media (min-width: 1920px) {
  .section__missia {
    margin-top: 80px; /* Увеличиваем верхний отступ */
    gap: 80px; /* Больше расстояние между блоками */
  }

  .missia__left {
    gap: 100px; /* Увеличиваем расстояние внутри блока */
  }

  .cennosti__top,
  .comanda,
  .plusi,
  .doverie {
    margin-top: 100px; /* Больше отступы между секциями */
  }

  .cennosti__bot,
  .plusi__container {
    margin-top: 100px; /* Увеличиваем внутренние отступы */
  }

  .cennosti__columns,
  .plusi__columns {
    gap: 60px; /* Больше расстояние между колонками */
  }

  .cennosti__column,
  .plusi__column {
    gap: 70px; /* Больше расстояние между элементами */
  }

  .cennosti__item,
  .plusi__item {
    gap: 30px; /* Больше расстояние между иконкой и текстом */
  }
}
