.ContactCTA {
  position: relative;
  width: 80%;
  height: 280px; /* Длинная секция */
  background-color: #000; /* Черный фон */
  color: #fff; /* Белый текст */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 40px;
}

.ContactCTA__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 40px 20px;
}

.ContactCTA__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.ContactCTA__subTitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #fff;
  opacity: 0.9;
  font-weight: bold;
}
.ContactCTA__button {
  display: flex;
  position: relative;
}
.ContactCTA__button .button {
  background-color: #ffffffd6; /* Серая кнопка */
  color: #030303;
  border: none;
  width: 400px;
  border-bottom: 30px;
  padding: 15px 30px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
  margin-left: 90px;
}
.button__img {
  position: absolute;
  left: 400px;
  top: 20px;
}
.ContactCTA__button .button:hover {
  background-color: #666; /* Темнее при наведении */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .ContactCTA {
    min-height: 300px;
  }

  .ContactCTA__title {
    font-size: 2rem;
  }

  .ContactCTA__subTitle {
    font-size: 1rem;
  }

  .ContactCTA__button .button {
    padding: 12px 25px;
    font-size: 1rem;
  }
}
