.forma {
  display: flex;
  margin-top: 185px;
  width: 1200px;
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  margin-left: 400px;
}
.forma__left {
  align-content: center;
}
.forma__left p {
  font-size: 35px;
  width: 360px;
  text-align: center;
}
.logo1 {
  position: absolute;
  transform: rotate(-75deg); /* Минус = влево */
  top: 150%;
  left: 7%;
}
