.qwer {
  margin-top: -90px !important;
  margin-bottom: 30px;
}
@media (max-width: 470px) {
  .qwer {
    margin-left: 40px;
    margin-top: -100px !important;
    margin-bottom: 10px;
    width: 95%;
    margin-left: -10px;
  }
}

.qwer {
  display: flex;
  justify-content: center;
}
