.qwer {
  margin-top: -90px !important;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .qwer {
    margin-left: 40px;
    margin-top: -90px !important;
    margin-bottom: 10px;
    width: 100%;
    /* margin-left: 10px; */
    border: 1px solid red;
  }
}

.qwer {
  display: flex;
  justify-content: center;
}
