.qwer {
  margin-top: -60px !important;
  margin-bottom: 20px;
}
@media (max-width: 425px) {
}
.qwer {
  margin-left: 40px;
  margin-top: -100px;
}
.qwer {
  display: flex;
  justify-content: center;
}
