.product__title {
  font-size: 60px;
  margin-top: 50px;
}

.product {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.produt__left {
  width: 700px;
}
.product__text ul,
.product__text li {
  font-size: 24px !important;
  max-width: 700px;
}
.product__right {
  position: relative;
}
.produt__right-img {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: #0385ce;
  border-radius: 20px;
  top: -20px;
  right: 20%;
  transform: rotate(15deg);
}
.produt__img {
  position: relative;
  right: 20%;
  height: 400px;
  width: 400px;
}

/*контейнер наша цель */
.coal {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.coal__title {
  font-size: 60px !important;
  margin-bottom: 50px;
}
.coal__subtitle {
  font-size: 24px !important;
  margin-bottom: 50px;
  width: 800px;
}

/*контейнер преимущества*/
.advantages__title {
  font-size: 60px !important;
  display: flex;
  justify-content: center;
}
.advantages__container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}
.advantages__cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #0385ce;
  background-color: white;
  width: 380px !important;
  min-height: 298px;
  border-radius: 20px;
  margin-top: 50px;
  padding: 20px;
  box-sizing: border-box;
}
.advantages__text {
  font-size: 20px;
  text-align: left;
  width: 100%;
  margin: 0;
  line-height: 1.4;
  white-space: normal;
  word-break: break-word;
}
.zayavka {
  margin-top: 100px !important;
}

/* АДАПТИВНЫЕ СТИЛИ */
@media (max-width: 1500px) {
  .produt__right-img {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #0385ce;
    border-radius: 20px;
    top: -50px;
    right: 20%;
    transform: rotate(15deg);
  }
  .produt__img {
    position: relative;
    right: 20%;
    top: -50px;
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 1400px) {
  .produt__right-img {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #0385ce;
    border-radius: 20px;
    top: -50px;
    right: 20%;
    transform: rotate(15deg);
  }
  .produt__img {
    position: relative;
    right: 20%;
    top: -50px;
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 1300px) {
  .produt__right-img {
    position: absolute;
    width: 320px;
    height: 320px;
    background-color: #0385ce;
    border-radius: 20px;
    top: -50px;
    right: 20%;
    transform: rotate(15deg);
  }
  .produt__img {
    position: relative;
    right: 20%;
    top: -50px;
    height: 320px;
    width: 320px;
  }
  .product__text ul,
  .product__text li {
    font-size: 24px !important;
    max-width: 600px;
  }
  .coal {
    margin-top: 50px;
  }
}
/* Большие планшеты (1200px - 1025px) */
@media (max-width: 1200px) {
  .product__title {
    font-size: 56px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .product__text ul,
  .product__text li {
    font-size: 24px !important;
    max-width: 450px;
  }
  .produt__right-img {
    width: 350px;
    height: 350px;
  }
  .produt__img {
    width: 350px;
    height: 350px;
  }
  .produt__left {
    width: 600px;
  }

  .product__text ul,
  .product__text li {
    font-size: 22px;
  }

  .produt__right-img {
    width: 330px;
    height: 350px;
  }

  .coal__title,
  .advantages__title {
    font-size: 42px;
  }

  .coal__subtitle {
    font-size: 22px;
    width: 700px;
  }

  .advantages__cards {
    width: 350px;
    min-height: 280px;
    margin-top: 80px;
  }

  .advantages__text {
    font-size: 18px;
  }
}

/* Планшеты (1024px - 901px) */
@media (max-width: 1024px) {
  .product {
    align-items: center;
    gap: 50px;
  }

  .produt__left {
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
  .product__text {
    text-align: left;
  }

  .produt__right-img {
    top: 2%;
    width: 300px;
    height: 300px;
  }

  .produt__img {
    position: relative;
    top: 0;
    transform: rotate(-1.8deg);
    width: 300px;
    height: 300px;
  }

  .coal {
    margin-top: 80px;
  }

  .coal__subtitle {
    width: 90%;
    max-width: 800px;
  }

  .advantages__cards {
    width: 320px;
    min-height: 260px;
    margin-top: 60px;
  }

  .advantages__text {
    font-size: 17px;
  }
}

/* Средние планшеты (900px - 769px) */
@media (max-width: 900px) {
  .product__title {
    font-size: 48px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .product__text ul,
  .product__text li {
    font-size: 20px;
  }

  .produt__right-img {
    width: 250px;
    height: 250px;
  }

  .produt__img {
    width: 250px;
    height: 250px;
  }

  .coal__title,
  .advantages__title {
    font-size: 36px;
  }

  .coal__subtitle {
    font-size: 20px;
    width: 90%;
  }

  .coal {
    margin-top: 60px;
    gap: 25px;
  }

  .advantages {
    margin-top: 50px;
  }

  .advantages__cards {
    width: 300px;
    min-height: 240px;
    margin-top: 50px;
    padding: 15px;
  }

  .advantages__text {
    font-size: 16px;
  }
}
@media (max-width: 868px) {
  .product__text ul,
  .product__text li {
    font-size: 18px !important;
    width: 300px;
  }
  .coal__subtitle {
    font-size: 18px !important;
  }
}
/* Большие мобильные (768px - 601px) */
@media (max-width: 768px) {
  .product__title {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .product {
    margin-top: 40px;
    gap: 40px;
  }

  .coal__title,
  .advantages__title {
    font-size: 40px !important;
    margin-bottom: 30px;
  }

  .coal__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    width: 95%;
  }

  .advantages__container {
    gap: 20px;
  }

  .advantages__cards {
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    margin-top: 40px;
    padding: 20px;
  }

  .advantages__text {
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .produt__right-img {
    width: 200px;
    height: 200px;
  }

  .produt__img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 650px) {
  .product__title {
    margin-top: 50px;
  }
  .product__title,
  .coal__title,
  .advantages__title {
    font-size: 25px !important;
  }
  .coal__subtitle {
    font-size: 14px !important;
    margin-bottom: 25px;
  }
  .product__text ul,
  .product__text li {
    font-size: 14px !important;
  }
}

/* Мобильные устройства (600px - 426px) */
@media (max-width: 600px) {
  .product {
    margin-top: 30px;
    gap: 30px;
  }

  .coal {
    margin-top: 50px;
    gap: 20px;
  }

  .advantages {
    margin-top: 40px;
  }

  .advantages__cards {
    margin-top: 30px;
    padding: 15px;
  }

  .advantages__text {
    font-size: 15px;
  }
}
@media (max-width: 565px) {
  .product {
    flex-direction: column;
  }

  .product__right {
    order: -1; /* Картинка будет ПЕРВОЙ (под h3) */
    margin-left: 80px;
  }

  .produt__left {
    order: 1; /* Текст будет ВТОРЫМ (под картинкой) */
  }
}
/* Средние мобильные (425px - 376px) */
@media (max-width: 425px) {
  .product__title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .product__text ul,
  .product__text li {
    font-size: 15px;
  }

  .produt__right-img {
    width: 220px;
    height: 240px;
  }

  .produt__img {
    width: 220px;
    height: 240px;
  }

  .coal__title,
  .advantages__title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .coal__subtitle {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .advantages__cards {
    margin-top: 25px;
    border-radius: 15px;
    padding: 12px;
  }

  .advantages__text {
    font-size: 14px;
  }
}

/* Маленькие мобильные (375px и меньше) */
@media (max-width: 375px) {
  .product__title {
    font-size: 28px;
  }

  .product__text ul,
  .product__text li {
    font-size: 14px;
  }

  .produt__right-img {
    width: 200px;
    height: 220px;
  }

  .produt__img {
    width: 200px;
    height: 220px;
  }

  .coal__title,
  .advantages__title {
    font-size: 24px;
  }

  .coal__subtitle {
    font-size: 14px;
  }

  .advantages__text {
    font-size: 13px;
  }
}

/* Очень маленькие мобильные (320px и меньше) */
@media (max-width: 320px) {
  .product__title {
    font-size: 26px;
  }

  .product__text ul,
  .product__text li {
    font-size: 13px;
  }

  .produt__right-img {
    width: 180px;
    height: 200px;
  }

  .produt__img {
    width: 180px;
    height: 200px;
  }

  .coal__title,
  .advantages__title {
    font-size: 22px;
  }

  .coal__subtitle {
    font-size: 13px;
  }

  .advantages__cards {
    border-radius: 12px;
    padding: 10px;
  }

  .advantages__text {
    font-size: 12px;
  }
}

/* Большие экраны (более 1500px) */
@media (min-width: 1500px) {
  .product__title {
    font-size: 72px;
  }

  .produt__left {
    width: 800px;
  }

  .product__text ul,
  .product__text li {
    font-size: 28px;
  }

  .produt__right-img {
    width: 420px;
    height: 440px;
  }

  .produt__img {
    width: 420px;
    height: 440px;
  }

  .coal__title,
  .advantages__title {
    font-size: 56px;
  }

  .coal__subtitle {
    font-size: 28px;
    width: 900px;
  }

  .advantages__cards {
    width: 450px;
    min-height: 320px;
  }

  .advantages__text {
    font-size: 22px;
  }
}

/* Landscape ориентация для планшетов и мобильных */
@media (max-height: 500px) and (orientation: landscape) {
  @media (max-width: 1024px) {
    .product {
      flex-direction: row;
      gap: 30px;
    }

    .produt__left {
      width: 50%;
      text-align: left;
    }

    .product__right {
      order: 0;
    }

    .produt__right-img {
      width: 200px;
      height: 220px;
    }

    .produt__img {
      width: 200px;
      height: 220px;
    }

    .advantages__cards {
      min-height: 180px;
      margin-top: 30px;
    }
  }
}
