/* Базовые стили */

/* Базовые стили страницы */
.services-section {
  padding: 80px 0;
  min-height: 100vh;
  border-radius: 40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 50px;
  font-size: 80px;
  background: linear-gradient(135deg, #c1e4f8, #33a6e7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 20px;
  position: relative;
  display: inline-block;
  width: 800px;
}

.category-title {
  text-align: center;
  margin-bottom: 40px;
  color: #333;
  font-size: 2rem;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*фон для контента с услугами*/
.services-content {
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 20px;
}

/*еще не поняла что это*/
.service-placeholder {
  text-align: center;
  padding: 60px 20px;
  color: #666;
}

.service-placeholder h3 {
  margin-bottom: 15px;
  color: #333;
}
