/* Стили фильтров категорий */
/* Стили фильтров категорий */
.services-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
}

.filter-btn {
  padding: 12px 24px;
  border-color: #1e88e57a;
  background: linear-gradient(135deg, #c1e4f8, #33a6e7);
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600; /* Увеличил жирность */
  transition: all 0.3s ease;
  font-size: 1rem;
  width: 200px;
  color: #033c5e;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Arial", sans-serif; /* Указал четкий шрифт */
}

.filter-btn:hover {
  background: linear-gradient(135deg, #a9d4f2, #1e90d8);
  border-color: #1e88e57a;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3);
  font-weight: 700; /* Увеличил жирность при наведении */
}

.filter-btn.active {
  background: linear-gradient(135deg, #4aabf0, #1e88e55b);
  border-color: #1e88e57a;
  box-shadow: 0 4px 12px rgba(30, 136, 229, 0.3);
  transform: translateY(-1px);
  font-weight: 700; /* Увеличил жирность для активной кнопки */
  letter-spacing: 0.7px; /* Увеличил интервал для активной кнопки */
}
