/* Стили деталей услуги */

/* Стили детальной информации об услуге */

/*заголовок и картинка */
.service-detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f1f1f1;
}
/*картинка */
.service-detail-icon {
  width: 70px;
  height: 70px;
  margin-right: 25px;
}
/*текс*/
.service-detail-info h1 {
  margin: 0 0 10px 0;
  background: linear-gradient(135deg, #c975dae7, #33a6e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  font-size: 2.2rem;
}

.service-detail-content h2 {
  color: #053c5a;
  margin-bottom: 20px;
  font-size: 1.6rem;
  background: linear-gradient(135deg, #c975dae7, #33a6e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.service-detail-description {
  margin-bottom: 30px;
}

.service-detail-description p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  border: 1px solid;
}

/* Блоки с картинками */
.service-description-with-image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 280px;
  align-items: center;
  margin-bottom: 50px;
}

.description-image {
  position: relative;
  text-align: center;
  height: 100px;
  width: 200px;
  margin-bottom: 50px;
}

.service-content-image {
  position: absolute;
  bottom: -120%;
  width: 100%;
  max-width: 1200px;
  height: 200px;
  border-radius: 15px;
}
.description-image {
  position: relative;
}

/*для инфы о изготовленнии*/
.image-info-overlay {
  position: absolute;
  top: -25%;
  left: -25%;
  right: 0;
  padding: 15px;
  z-index: 10;
}

.info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  align-items: center;
  width: 400px;
}

.info-row:last-child {
  margin-bottom: 0;
}

.info-label {
  font-weight: 600;
  color: #c975dae7;
  font-size: 18px;
}

.info-value {
  background: linear-gradient(135deg, #c55bd8, #225f88);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 35px;
  position: absolute;
  bottom: -100%;
  font-weight: 800;
  left: -20%;
}

.service-content-image {
  margin-top: 70px; /* Отступ для места под информацию */
  width: 100%;
  height: auto;
  display: block;
}
