.particles-background {
  position: fixed; /* или absolute, если нужна прокрутка */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Занимает всю высоту родителя */
  z-index: -1;
  pointer-events: none;
}
