.forma {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 600px;
  height: 260px;
  border-radius: 30px;
  border: 3px solid #0385ce;
}
.forma__title {
  font-size: 20px;
  text-align: center;
  width: 400px;
}
