body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* a {
  text-decoration: none;
  color: #0385ce;
} */
/* a:hover {
  background-color: #0384ce28;
} */
.particles-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Чтобы частицы были под контентом */
  pointer-events: none; /* Чтобы можно было кликать сквозь них */
}
