body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* a {
  text-decoration: none;
  color: #0385ce;
} */
/* a:hover {
  background-color: #0384ce28;
} */
.particles-background {
  position: fixed; /* или absolute, если нужна прокрутка */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Занимает всю высоту родителя */
  z-index: -1;
  pointer-events: none;
}
