:root {
  --button--color: #0385ce;
}

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* a {
  text-decoration: none;
  color: #0385ce;
} */
/* a:hover {
  background-color: #0384ce28;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(226, 226, 226);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Чтобы Particles был под контентом */
.particles-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* Чтобы CursorTrail был над контентом */
.cursor-trail {
  z-index: 10000;
}

/* SocSeti тоже над контентом */
.soc-seti {
  z-index: 10000;
}
.header .container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
