/* Стили для оверлея */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Стили для контента модалки */
.modal-content {
  /* background-color: #e6f4fc; */
  padding: 30px;
  border-radius: 20px;
  max-width: 550px;
  height: 430px;

  position: relative;
  transform: translateY(-20px);
  animation: slideUp 0.3s forwards;
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}

/* Кнопка закрытия */
.modal-close {
  position: absolute;
  /* top: -40px; */
  right: -40px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  transition: color 0.2s;
  z-index: 200;
}

.modal-close:hover {
  color: #333;
}
@media (max-width: 1024px) {
  .modal-content {
    width: 120%;
  }
  .modal-close {
    top: -15px;
    right: 80px;
  }
}
@media (max-width: 770px) {
  .modal-close {
    top: -5px;
    right: 80px;
  }
}
@media (max-width: 600px) {
  .modal-close {
    top: 10px;
    right: 80px;
  }
}
@media (max-width: 440px) {
  .modal-close {
    top: 30px;
    right: 60px;
  }
}

@media (max-width: 340px) {
  .modal-close {
    top: 15px;
    right: 60px;
  }
}
